extends layout

block JS
	script(type="text/javascript", src="./js/index_h.js")
	script(type="text/javascript", src="./js/index.js")
	script(type="text/javascript", src="./js/jom.min.js")

block Jungle
	+Dialog('login', 300, 300)
		div.diag-bar
			label= L('diag-login-id')
			input#diag-login-id(type="text", placeholder=L('diag-login-id'))
		div.diag-bar
			label= L('diag-login-pw')
			input#diag-login-pw(type="password", placeholder=L('diag-login-pw'))
		div.diag-bar#diag-login-captcha-box(style='display: none;')
			label(for='diag-login-captcha')= L('diag-login-captcha')
			input#diag-login-captcha(type="text", placeholder=L('diag-login-captcha'))
		div.diag-bar
			label(for='diag-login-auto')= L('diag-login-auto')
			input#diag-login-auto(type="checkbox")
		div.diag-bar
			label(for='diag-login-disposable')= L('diag-login-disposable')
			input#diag-login-disposable(type="checkbox")
		div.diag-bar#diag-login-output
		div.diag-bar.diag-tail
			button.ok-button#diag-login-ok= L('OK')
	+Dialog('upload', 600, 380)
		div.diag-bar
			label(style='width: 100%; text-align: center;')= L('diag-upload-sure')
			img#diag-upload-img(style='display: block; width: auto; height: 290px; max-width: 100%; padding-top: 5px; margin: auto;')
		div.diag-bar
			input#diag-upload-auto(type="checkbox", style="float: left;")
			label(for='diag-upload-auto', style="width: 400px;")= L('diag-upload-auto')
		div.diag-bar.diag-tail
			button.ok-button#diag-upload-ok= L('OK')
	+Dialog('ce', 300, 300)
		div.diag-bar
			label#diag-ce-target(style='width: 100%;')
		div.diag-bar
			label(for='diag-ce-serial')= L('diag-ce-serial')
			input#diag-ce-serial(type="text", placeholder=L('diag-ce-serial'))
		div.diag-bar
			label(for='diag-ce-pass')= L('diag-ce-pass')
			input#diag-ce-pass(type="text", placeholder=L('diag-ce-pass'))
		div.diag-bar#diag-ce-output
		div.diag-bar.diag-tail
			button.ok-button#diag-ce-ok= L('OK')
	+Dialog('status', 300, 200)
		div.diag-bar
			label(style='width: 100%;')= L('diag-status-tip')
		div.diag-bar
			label(for='diag-status-list')= L('diag-status-list')
			select#diag-status-list
				option(value='online')= L('diag-status-online')
				each v in locals.OPT['status-list']
					option(value=v)= v
				option(value='afk')= L('diag-status-afk')
		div.diag-bar.diag-tail
			button.ok-button#diag-status-ok= L('OK')
	div#command-hint

block Middle
	div#act-tab
	div#activities