extends layout

block JS
	script(type="text/javascript", src="./js/index.min.js")
	script(type="text/javascript", src="./js/jom.min.js")

block CSS
	link(rel="stylesheet", href="./css/index.css")

block Jungle
	+Dialog('login', 300, 300)
		div.diag-bar
			label= L('diag-login-id')
			input#diag-login-id(type="text", placeholder=L('diag-login-id'))
		div.diag-bar
			label= L('diag-login-pw')
			input#diag-login-pw(type="password", placeholder=L('diag-login-pw'))
		div.diag-bar#diag-login-captcha-box(style='display: none;')
			label(for='diag-login-captcha')= L('diag-login-captcha')
			input#diag-login-captcha(type="text", placeholder=L('diag-login-captcha'))
		div.diag-bar#diag-login-otp-box(style='display: none;')
			label(for='diag-login-otp')= L('diag-login-otp')
			input#diag-login-otp(type="text", placeholder=L('diag-login-otp'))
		div.diag-bar
			label(for='diag-login-auto')= L('diag-login-auto')
			input#diag-login-auto(type="checkbox")
		div.diag-bar
			label(for='diag-login-disposable')= L('diag-login-disposable')
			input#diag-login-disposable(type="checkbox")
		div.diag-bar#diag-login-output
		div.diag-bar.diag-tail
			button.ok-button#diag-login-ok= L('OK')
	+Dialog('upload', 600, 380)
		div.diag-bar
			label(style='width: 100%; text-align: center;')= L('diag-upload-sure')
			img#diag-upload-img(style='display: block; width: auto; height: 290px; max-width: 100%; padding-top: 5px; margin: auto;')
		div.diag-bar
			input#diag-upload-auto(type="checkbox", style="float: left;")
			label(for='diag-upload-auto', style="width: 400px;")= L('diag-upload-auto')
		div.diag-bar.diag-tail
			button.ok-button#diag-upload-ok= L('OK')
	+Dialog('ce', 300, 300)
		div.diag-bar
			label#diag-ce-target(style='width: 100%;')
		div.diag-bar
			label(for='diag-ce-serial')= L('diag-ce-serial')
			input#diag-ce-serial(type="text", placeholder=L('diag-ce-serial'))
		div.diag-bar
			label(for='diag-ce-pass')= L('diag-ce-pass')
			input#diag-ce-pass(type="text", placeholder=L('diag-ce-pass'))
		div.diag-bar#diag-ce-output
		div.diag-bar.diag-tail
			button.ok-button#diag-ce-ok= L('OK')
	+Dialog('status', 300, 200)
		div.diag-bar
			label(style='width: 100%;')= L('diag-status-tip')
		div.diag-bar
			label(for='diag-status-list')= L('diag-status-list')
			select#diag-status-list
				option(value='online')= L('diag-status-online')
				each v in locals.OPT['status-list']
					option(value=v)= v
				option(value='afk')= L('diag-status-afk')
		div.diag-bar.diag-tail
			button.ok-button#diag-status-ok= L('OK')
	+Dialog('bw', 500, 300)
		div.diag-bar
			label.diag-label(style='height: 30px;')!= L('diag-bw-tip')
		div.diag-bar
			each v in [ "black", "white" ]
				div(style='width: calc(50% - 4px); margin: 2px;')
					label.diag-label(style='font-weight: bold;')= L('diag-bw-' + v)
					div.diag-bw-table(id='diag-bw-' + v)
					div.diag-bw-menu
						label(id='diag-bw-' + v + '-count')
						button.diag-action(id='diag-bw-' + v + '-add')
							+FA('plus')
		div.diag-bar.diag-tail
			button.ok-button#diag-bw-ok= L('OK')
	+Dialog('macro', 400, 350)
		div.diag-bar
			label.diag-label= L('diag-macro-tip')
		div.diag-bar
			each v in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 0 ]
				div.diag-macro-item(id='diag-macro-' + v)
					div.diag-macro-item-key= "Ctrl+" + v
					input.diag-macro-item-value
					button.diag-action(onclick='$(this.parentNode).children("input").val("");')
						+FA('remove')
		div.diag-bar.diag-tail
			button.ok-button#diag-macro-ok= L('OK')
	+Dialog('find', 400, 390)
		div.diag-bar
			label.diag-label!= L('diag-find-tip')
		div.diag-bar
			label(for='diag-find-input')= L('diag-find-input')
			input#diag-find-input(type="text", placeholder=L('diag-find-input'))
		div.diag-bar
			label(for='diag-find-msgid')= L('diag-find-msgid')
			input#diag-find-msgid(type="text", placeholder=L('diag-find-msgid'))
		div.diag-bar
			label(for='diag-find-opt-regex')= L('diag-find-opt-regex')
			input#diag-find-opt-regex(type="checkbox")
		div.diag-bar.diag-separator
		div.diag-bar
			label.diag-label#diag-find-status
			div#diag-find-table
		div.diag-bar.diag-tail
			button.ok-button#diag-find-ok= L('diag-find-ok')
			button#diag-find-back= L('diag-find-back')
	+Dialog('answer', 400, 375)
		div.diag-bar
			label.diag-label!= L('diag-answer-tip')
		div.diag-bar
			div#diag-answer-table
			div.diag-answer-menu
				label#diag-answer-count
				button.diag-action#diag-answer-add
					+FA('plus')
		div.diag-bar.diag-tail
			button.ok-button#diag-answer-ok= L('OK')
	+Dialog('users', 300, 400)
		div.diag-bar
			div#diag-users-table
		div.diag-bar
			label(for='diag-users-search')= L('diag-users-search')
			input#diag-users-search(tyle="text", placeholder=L('diag-users-search'))
		div.diag-bar.diag-tail
			button.ok-button#diag-users-ok= L('diag-users-ok')
	+Dialog('dict', 300, 400)
		div.diag-bar
			div#diag-dict-page
	div#command-hint

block Middle
	div#act-tab
	div#activities