doctype html
- const TITLE = `${L('title')} v${locals.version}`;

mixin Dialog(id, w, h)
	div.dialog(id=`diag-${id}`, style=`display: none; width: ${w}px; height: ${h}px;`)
		div.diag-head
			div.diag-title.ellipse= L(`diag-${id}`)
			div.diag-close
		div.diag-body
			block
mixin FA(id)
	i(class=`fa fa-${id}`)

html
	head
		title= TITLE
		meta(charset="UTF-8")
		meta(name="version", content=locals.version)
		link(rel="stylesheet", href="./css/style.css")
		link(rel="stylesheet", href="./css/fa.css")
		script(type="text/javascript", src="./js/jquery.js")
		script(type="text/javascript") global.LANG = 
			include ../language.json
		script(type="text/javascript", src="./js/global.min.js")
		block JS
		block CSS
	body
		div#Jungle
			+Dialog('prompt', 300, 100)
				div.diag-bar
					label#diag-prompt-key(style="width: 100%;")
				div.diag-bar
					input#diag-prompt-value(type="text", style="width: 100%;")
				div.diag-bar.diag-tail
					button.ok-button#diag-prompt-ok= L('OK')
			+Dialog('notice', 400, 400)
				div.diag-bar
					label.diag-label#diag-notice-head
				div.diag-bar
					div#diag-notice-body
				div.diag-bar.diag-tail
					button.ok-button#diag-notice-ok= L('OK')
			block Jungle
		div#Middle
			block Middle